/**
 * @name Compactify
 * @author JustAundre
 * @version 1.0.0
 * @description Too much space!
*/

/* Makes the channels list on servers more compact. */
.link__95dc0, .wrapper__7bcde {
  padding: 0 0 !important;
}

/* Makes DMs list more compact. */
.link__2e8e1 {
  max-height: 32px;
}

/* Makes members list compact. */
.member_aa4760 {
  max-height: 32px;
}

.container__4f20e, .memberInner_a32223 {
  margin-left: 8px;
  padding: 0 0 !important;
  max-height: 32px;
}

/* Makes header text sent by users have less spacing. */
h1, .markup_a7e664 h1:first-child {
  margin: 0;
}

/* Makes the spacing between channel categories smaller. */
:root {
  --custom-category-channel-space-before-category: 8px;
}

/* Makes the channels (not categories) pushed in to be differentiated from the categories. */
.containerDefault__3187b {
  margin-left: 16px;
}

/* Makes messages look 'correct-er'? (Basically a small optional fix for compact mode users.) */
.zalgo__39311.compact__54ecc .messageContent__21e69 {
  display: block !important;
  translate: 10px -5px !important;
}

/* Removes extra padding for messages. */
.compact__54ecc.wrapper__09ecc {
  padding-top: 0;
  padding-bottom: 0;
}

/* Y'know that thing that appears that separates messages sent between different dates? Yeah, I just removed 2/3rds of its extra margin. */
.group-spacing-0 .divider__8cf56.hasContent__8519e {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* Fixes reply text preview being mis-aligned. */
.repliedTextPreview__90311.clickable_d866f1 {
  translate: -10px 5px;
}