/**
 * @name AJRHome
 * @author JustAundre
 * @description Self-explanatory, changes the home icon to be AJR
 * @source https://github.com/PlusInsta/discord-plus
*/

:root {
	--dplus-icon-home-dark: url('https://media.discordapp.net/attachments/1165001024721915934/1178585219025084496/Screenshot_2023-11-27_at_00.36.48.png');
	--dplus-icon-home-dark: url('https://media.discordapp.net/attachments/1165001024721915934/1178585219025084496/Screenshot_2023-11-27_at_00.36.48.png');
}

.tutorialContainer__890ea .childWrapper__01b9c svg {display: none !important;}
.wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c,
.wrapper_d281dd:hover .childWrapper__01b9c, .childWrapper__01b9c {
	background-color: transparent!important; }

.theme-dark .tutorialContainer__890ea .childWrapper__01b9c,
.theme-light .theme-dark .tutorialContainer__890ea .childWrapper__01b9c,
.theme-light .tutorialContainer__890ea .childWrapper__01b9c {
	background-image: var(--dplus-icon-home-dark);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.theme-light .tutorialContainer__890ea .childWrapper__01b9c {
	background-image: var(--dplus-icon-home-light)
};
