/* Changes 3 default properties, and removes user-select/drag */
body *,
body {
  display: flex;
  position: relative;
  color: inherit;
  justify-content: center;
  align-items: center;
  user-select: none;
  place-content: center;
  text-align: center;
  -webkit-user-drag: none;
}

/* Makes all links use a pointer mouse and have no text decoration */
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* Makes the body element center all things, etc. */
body {
  position: unset;
  height: 100vh;
  margin: 0px;
  background: rgb(0, 0, 0);
  font-family: "Comfortaa";
  font-size: 16px;
}

/* Sets the h/w of the background and actual site to be 100% of the visitor's viewport h/w */
.background, .items {
  width: 100vw;
  height: 100vh;
}

/* Blurs the graphics, and makes them fit to the screen, makes smooth transitions */
.background {
  filter: hue-rotate(var(--hue));
  object-fit: contain;
  transition: ease-in-out 5s;
}

/* Makes the actual site work */
.items {
  backdrop-filter: blur(5px);
  background: rgb(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
}