/* Changes 3 default properties, and removes user-select/drag */
body *,
body {
  display: flex;
  position: relative;
  color: inherit;
  justify-content: center;
  align-items: center;
  user-select: none;
  place-content: center;
  text-align: center;
  -webkit-user-drag: none;
}

/* Makes all links use a pointer mouse and have no text decoration */
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* Makes the body element center all things, etc. */
body {
  position: unset;
  height: 100vh;
  margin: 0px;
  background: rgb(10, 5, 0);
  font-family: "Comfortaa";
  font-size: 16px;
}

.background {
    width: 100%;
    height: 100%;
}