/* Default styles unless overwritten. */
div {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
div, span {
  color: inherit;
  font-size: inherit;
  font-family: Monospace;
}

/* Removes the unaccounted-for extra height added by the default margins on the body element, and makes sure the website takes up all the space it's supposed to */
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  position: absolute;
  overflow: hidden;
}

.linear-gradient {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: linear-gradient(to top right, rgb(24, 29, 60)75%, rgb(32, 30, 75));
}

.blurple-blur {
  width: 150vh;
  height: 150vh;
  display: block;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(82, 80, 226, 0.24) 0%, transparent 100%);
  transform: translateY(var(--y1)) translateX(var(--x1));
  transition: 40s ease-in-out;
}

.blue-blur {
  width: 175vh;
  height: 175vh;
  display: block;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(49, 139, 255, .24) 0%, transparent 100%);
  transform: translateY(var(--y2)) translateX(var(--x2));
  transition: 40s ease-in-out;
}

.salmon-blur {
  width: 200vh;
  height: 200vh;
  display: block;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(231, 93, 143, .24) 0%, rgba(255, 98, 230, 0.00) 100%);
  transform: translateY(var(--y3)) translateX(var(--x3));
  transition: 60s ease-in-out;
}

.footer {
  width: 100vw;
  height: 50px;
  display: flex;
  position: fixed;
  background: rgba(0, 0, 0, .0001);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  bottom: 0%;
  left: 0%;
  backdrop-filter: contrast(1.025) saturate(1.025) blur(25px);
}

.footer > div.footer-text-interaction {
  width: fit-content;
  transition: .25s ease-in-out;
  color: var(--footer-txt-color-normal);
}
.footer > div.footer-text-interaction:hover {
  transform: scale(1.25);
  color: var(--footer-txt-color-hover);
}
.footer > div.footer-text-interaction:active {
  transform: scale(.75);
  color: var(--footer-txt-color-active);
}

.footer-divider {
  margin-left: 4px;
  margin-right: 4px;
}

/* Commonly used values/colors */
:root {
  --footer-txt-color-normal: rgb(95 85 115);
  --footer-txt-color-hover: rgb(145 135 165);
  --footer-txt-color-active: rgb(195, 175, 215);
}