/**
 * @name OutClutter
 * @description Removes all the crap you don't need.
 * @author JustAundre
 * @version 1.0.0
 * @source No source given.
 * @authorId 532681285961777154
*/

@import url('https://github.com/ItsAundre/CraftyCord/raw/main/Vencord%20Supported/OC-Properties/OC-Source.css');

:root {
  /* OutClutter Configs */
  /* Set to 'none' to enable, set to 'inherit' to disable. */
  --disableNitroBuy: none;
  --disableStore: none;
  --disableSendGift: none;
  --disableGifPicker: none;
  --disableStickerPicker: none;
  --disableHelp: none;
  --disableVideoCall: none;
  --disableServerNotifButton: none;
  --disableNewGroupDm: none;
  --disableSearch: none;
  --noTweet: none;
  --noBoost: none;
}