/**
 * @name Compactify
 * @description Compactify, compatability mode.
 * @author JustAundre
 * @version Compatability Mode
 * @authorId 532681285961777154
*/

/* Makes the channels list on servers more compact */
ul[aria-label="Channels"] li div, ul[aria-label="Channels"] li ul li {
  max-height: 24px;
}
div[class=""]:has(div[aria-label="Voice icon"]) {
  max-height: unset;
}
ul[aria-label="Channels"] li:has(div[class=""]), ul[aria-label="Channels"] li [role="group"] /* Makes you differentiate channels and categories better */ {
  margin-left: 16px;
}

/* Makes DMs list more compact */
ul[aria-label="Direct Messages"] li /* Selects every button in the DMs sidebar */ {
  max-height: 34px;
}

/* Makes members list compact */
[aria-label="Members"] [role="listitem"] /* Selects each member on the members list */ {
  max-height: 34px !important;
  align-content: center;
  margin-left: 8px;
  padding: 0 0;
}

/* Slightly less vertical spacing for text */
[aria-roledescription="Message"] div div[id] /* Selects message text */ {
  line-height: 1.15rem;
}

/* Fixes ping background color being too small */
[aria-roledescription="Message"]:has(div div span.mention):before {
  all: unset;
}
[aria-roledescription="Message"]:has(div div span.mention) {
  background: linear-gradient(to right, rgb(255, 202, 47, .25), rgb(0, 0, 0, 0));
  border-left-color: rgb(255, 202, 47, .5);
  border-left-width: 5px;
  border-left-style: solid;
}

/* Truncates oversized reply previews */
[aria-roledescription="Message"] div img[alt=""][src] ~ div[tabindex="0"] {
  max-width: 100px;
  overflow: hidden;
}

/* Reduces the margin for date separaters */
div[role="separator"] /* Date separaters have margin reduced */ {
  margin-top: .75rem !important;
  margin-bottom: .375rem !important;
}

/* Lessens the margin bewteen messages of unique users */
div[aria-roledescription="Message"]:has(div h3) /* Selects every message by a different user than the message above */ {
  margin-top: .2rem !important;
}

/* Removes the minimum height between messages */
div[aria-roledescription="Message"] {
  min-height: unset !important;
}

/* Makes header text sent by users have less spacing */
h1 /* Selects h1 (Header 1) elements */ {
  margin: 0 !important;
  line-height: 2rem !important;
}

:root {
  --custom-emoji-size-emoji: 1rem; /* Self-explanatory */
  --custom-message-spacing-vertical-container-cozy: unset; /* Makes the extra spacing between messages non-existant */
  --custom-category-channel-space-before-category: 8px; /* Makes the spacing between categories smaller */
}