/**
 * @name Compactify
 * @description Compactify, compatability mode.
 * @author JustAundre
 * @version Source Code
 * @authorId 532681285961777154
*/

/* Makes the channels list in servers more compact */
ul[aria-label="Channels"] li div, ul[aria-label="Channels"] li ul li {
  max-height: 24px !important;
  min-height: 0px !important;
}
div[class=""]:has(div[aria-label="Voice icon"]) {
  max-height: unset;
}

/* Removes excess left-ward padding for voice channel users */
li > :nth-child(2) {
  padding-left: 16px;
  max-height: unset !important;
}

/* Makes DMs list & Channels list compact */
a[class][aria-label][data-list-item-id][href] {
  max-height: 34px !important;
  min-height: 0px !important;
  padding: 1px 0;
}

/* Makes members list compact */
div[dir="ltr"][style="overflow: hidden scroll; padding-right: 0px;"] div[aria-expanded="false"][role="listitem"] div,
div[role="list"][aria-label="Members"][style] div[role="listitem"] div {
  max-height: 34px !important;
  min-height: 0px !important;
  padding: 0;
}
div[role="list"][aria-label="Members"][style] div[role="listitem"] h3 {
  padding: 16px 8px 0 16px;
}

/* Removes avatar decorations */
div[class][role="img"][aria-label][aria-hidden] > :nth-child(2) {
  display: none;
}

/* Slightly less vertical spacing for text */
[aria-roledescription="Message"] div div[id] {
  line-height: 1.15rem;
}

/* Truncates oversized reply previews */
[aria-roledescription="Message"] div img[alt=""][src] ~ div[tabindex="0"] {
  max-width: 128px;
  overflow: hidden;
}

/* Truncates oversized channel descriptor previews */
section[aria-label="Channel header"] div div > :nth-child(5) {
  max-width: 128px;
  overflow: hidden;
}

/* Reduces the margin for date separaters */
div[role="separator"] {
  margin-top: .75rem !important;
  margin-bottom: .375rem !important;
}

/* Lessens the margin bewteen messages of unique users */
div[aria-roledescription="Message"]:has(div h3) {
  margin-top: .2rem !important;
}

/* Removes the minimum height between messages */
div[aria-roledescription="Message"] {
  min-height: unset !important;
}

/* Makes header text sent by users have less spacing */
h1 {
  margin: 0 !important;
  line-height: 2rem !important;
}

/* Resizes the chat history search bar for DMs, GCs, and servers. */
section[aria-label="Channel header"] div > :nth-child(2) > :nth-child(6) div div {
  width: 32px;
}

:root {
  --custom-emoji-size-emoji: 1rem; /* Self-explanatory */
  --custom-message-spacing-vertical-container-cozy: unset; /* Makes the extra spacing between messages non-existant */
  --custom-category-channel-space-before-category: 8px; /* Makes the spacing between categories smaller */
}