/**
 * @name OutClutter
 * @description OutClutter, compatability mode.
 * @author JustAundre
 * @version Compatability Mode
 * @authorId 532681285961777154
*/
/* Comment or delete the following import rules if you want to disable them */
@import url("https://itsaundre.github.io/UtilityThemes/Source%20Code/OutClutter-Modules/Clean-Folders.css");

















/* Hides the Nitro button on the home page */
[href="/shop"] {
  display: none !important;
}

/* Hides the store button on the home page */
[href="/store"] {
  display: none !important;
}

/* Hides the Gift button in the message bar */
[aria-label="Send a gift"] {
  display: none !important;
}

/* Hides the GIF button in the message bar */
[aria-label="Open GIF picker"] {
  display: none !important;
}

/* Hides the Sticker button in the message bar */
[aria-label="Open sticker picker"] {
  display: none !important;
}

/* Hides the help button in the top footer */
[aria-label="Help"] {
  display: none !important;
}

/* Hides the Start Video call button */
[aria-label="Start Video Call"] {
  display: none !important;
}

/* Hides Create new group DM button */
[aria-label="New Group DM"], [aria-label="Add Friends to DM"] {
  display: none !important;
}

/* Hide the search bar in the home page */
.searchBar_e4ea2a {
  display: none !important;
}

/* Makes the "Friends" button take the place of the search bar. */
[href="/channels/@me"] {
	height: 35px !important;
}

/* Who actually tweets @Discord Support when there's a connection problem? */
[href="https://twitter.com/discord_support"] {
  display: none;
}

/* Removes "Server boosts" bar at the top of channels tab. */
.container__4f639 {
  display: none;
}
[style="height: 12px;"] {
  display: none;
}

/* Removes activity and status text */
.activity_a8c37a, .subtext__623a0, .subtext__1a662, .subText_ab7e13 {
  display: none;
}

/* Removes the download button for the Discord App */
.scroller__3d071.none__3919e.scrollerBase__2b744 > :nth-child(6), .scroller__3d071.none__3919e.scrollerBase__2b744 > :nth-child(7) {
  display: none;
}

/* Removes scrollbars from everything */
* {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE/Edge */
}
*::-webkit-scrollbar { /* WebKit browsers */
  display: none !important;
}

/* No channel titles */
.title__9e2b0, .channelName_f5ab3a {
  display: var(--noTitles);
}

/* Removes the "Now Playing.." Column in the Friends tab */
.nowPlayingColumn_f5023f {
  display: var(--noNowPlaying);
}

/* Removes loading screen */
.container__4bde3.fixClipping__9c8f4 {
  display: var(--noLoadingScreen);
}

/* Removes notifications settings button from top footer */
div[class="iconWrapper_af9215 clickable_d23a1a"][role="button"][aria-label="Notification Settings"][aria-expanded="false"][tabindex="0"] {
  display: none;
}