/**
 * @name OutClutter
 * @description OutClutter, compatability mode.
 * @author JustAundre
 * @version Compatability Mode
 * @authorId 532681285961777154
*/
/* Comment or delete the following import rules if you want to disable them */
/* Cleaner-looking folders, disable if you have cleaner folders enabled from Vencord */
@import url("https://itsaundre.github.io/UtilityThemes/Source%20Code/OutClutter-Modules/Clean-Folders.css");

/* Hides the Nitro button on the home page */
[href="/shop"] {
  display: none !important;
}

/* Hides the store button on the home page */
[href="/store"] {
  display: none !important;
}

/* Hides the Gift button in the message bar */
[aria-label="Send a gift"] {
  display: none !important;
}

/* Hides the GIF button in the message bar */
[aria-label="Open GIF picker"] {
  display: none !important;
}

/* Hides the Sticker button in the message bar */
[aria-label="Open sticker picker"] {
  display: none !important;
}

/* Fixes the Emoji button having no spacing from the end of the typing bar */
[aria-label="Select emoji"] {
  padding-right: 16px;
}

/* Hides the help button in the top footer */
[aria-label="Help"] {
  display: none !important;
}

/* Hides the Start Video call button */
[aria-label="Start Video Call"] {
  display: none !important;
}

/* Hides Create new group DM button */
[aria-label="New Group DM"], [aria-label="Add Friends to DM"] {
  display: none !important;
}

/* Removes "Server boosts" bar at the top of channels tab. */
[style="height: 12px;"],
[style="height: 16px;"],
[aria-label="Channels"] > :nth-child(3),
[aria-label="Channels"] > :nth-child(5) {
  display: none;
}
[aria-label="Channels"] > :nth-child(4) {
  padding-top: 8px;
}

/* Removes activity and status text */
a[class][aria-label][data-list-item-id][href] div > :nth-child(2) > :nth-child(2) div,
div[class][role="listitem"][tabindex][aria-selected] div > :nth-child(2) > :nth-child(2) {
  display: none;
}

/* Removes the download button for the Discord App */
div[style="overflow: hidden scroll; padding-right: 0px;"][dir="ltr"] > :nth-child(6), 
div[style="overflow: hidden scroll; padding-right: 0px;"][dir="ltr"] > :nth-child(7) {
  display: none;
}

/* Removes scrollbars from everything */
* {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE/Edge */
}
*::-webkit-scrollbar { /* WebKit browsers */
  display: none !important;
}

/* No channel titles */
.title__9e2b0, .channelName_f5ab3a {
  display: none;
}

/* Removes the "Now Playing.." Column in the Friends tab */
.nowPlayingColumn_f5023f {
  display: none;
}

/* Removes loading screen */
div[style="opacity: 1;"] {
  display: none;
}

/* Removes notifications settings button from top footer */
div[aria-label="Notification Settings"][role="button"] {
  display: none;
}