/**
 * @name OutClutter
 * @description OutClutter, compatability mode.
 * @author JustAundre
 * @version Compatability Mode
 * @authorId 532681285961777154
*/
:root {
  /* OutClutter configs */
  /* Set to inherit to disable, set to none to enable. */
  --disableNitroBuy: none;
  --disableStore: none;
  --disableSendGift: none;
  --disableGifPicker: none;
  --disableStickerPicker: none;
  --disableHelp: none;
  --disableVideoCall: none;
  --disableNewGroupDm: none;
  --disableSearch: none;
  --noTweet: none;
  --noBoost: none;
  --noStatus: none;
  --discordStayOnWeb: none;
  --noScrollbars: none;
  --noTitles: none;
  --noNowPlaying: none;
  --noLoadingScreen: none;
}











/* Hides the Nitro button on the home page */
[href="/shop"] {
  display: var(--disableNitroBuy) !important;
}

/* Hides the store button on the home page */
[href="/store"] {
  display: var(--disableStore) !important;
}

/* Hides the Gift button in the message bar */
[aria-label="Send a gift"] {
  display: var(--disableSendGift) !important;
}

/* Hides the GIF button in the message bar */
[aria-label="Open GIF picker"] {
  display: var(--disableGifPicker) !important;
}

/* Hides the Sticker button in the message bar */
[aria-label="Open sticker picker"] {
  display: var(--disableStickerPicker) !important;
}

/* Hides the help button in the top footer */
[aria-label="Help"] {
  display: var(--disableHelp) !important;
}

/* Hides the Start Video call button */
[aria-label="Start Video Call"] {
  display: var(--disableVideoCall) !important;
}

/* Hides Create new group DM button */
[aria-label="New Group DM"], [aria-label="Add Friends to DM"] {
  display: var(--disableNewGroupDm) !important;
}

/* Hide the search bar in the home page */
.searchBar_e4ea2a {
  display: var(--disableSearch) !important;
}

/* Makes the "Friends" button take the place of the search bar. */
[href="/channels/@me"] {
	height: 35px !important;
}

/* Who actually tweets @Discord Support when there's a connection problem? */
[href="https://twitter.com/discord_support"] {
  display: var(--noTweet);
}

/* Removes "Server boosts" bar at the top of channels tab. */
.container__4f639 {
  display: var(--noBoost);
}
[style="height: 12px;"] {
  display: var(--noBoost);
}

/* Removes activity and status text */
.activity_a8c37a, .subtext__623a0, .subtext__1a662, .subText_ab7e13 {
  display: var(--noStatus);
}

/* Removes the download button for the Discord App */
.scroller__3d071.none__3919e.scrollerBase__2b744 > :nth-child(6), .scroller__3d071.none__3919e.scrollerBase__2b744 > :nth-child(7) {
  display: var(--discordStayOnWeb);
}

/* Removes scrollbars from everything */
* {
  scrollbar-width: var(--noScrollbars) !important; /* Firefox */
  -ms-overflow-style: var(--noScrollbars) !important; /* IE/Edge */
}
*::-webkit-scrollbar { /* WebKit browsers */
  display: var(--noScrollbars) !important;
}

/* No channel titles */
.title__9e2b0, .channelName_f5ab3a {
  display: var(--noTitles);
}

/* Removes the "Now Playing.." Column in the Friends tab */
.nowPlayingColumn_f5023f {
  display: var(--noNowPlaying);
}

/* Removes loading screen */
.container__4bde3.fixClipping__9c8f4 {
  display: var(--noLoadingScreen);
}