/**
 * @name Widescreen
 * @description Twitter UI without that separation anxiety
 * @author JustAundre
 * @version 1.0.0
 * @authorId 532681285961777154
*/

/* Makes the sidebar(s) go to the left and right edges of the screen respectively */
div[data-testid='sidebarColumn'] {
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
}
header[role='banner'] {
  align-items: unset;
  flex-grow: 0;
}