@import url('https://fonts.googleapis.com/css?family=Poppins');
/*Forces a font size, font family, and max-width onto display names and pings*/
.name__02dbd,
.nickname__3d1d7,
.username_d30d99,
.username_d272d6,
.mention,
.username__81ee6,
.titleWrapper__482dc,
.listName_dbd44a span,
.userTag__4ca14 span,
.constrainedRow_b9e8cf {
	font-family: 'Poppins' !important;
	font-size: calc(var(--shortenDisplays) * 16px) !important;
	max-width: calc(var(--shortenDisplays) * 40px);
	text-wrap: nowrap;
	overflow: hidden !important;
	display: inline-flex !important;
	transition: calc(0.5s * var(--shortenDisplays)) ease-in-out !important;
}

/*When hovering over display names and pings they will reveal-fade*/
.name__02dbd:hover,
.nickname__3d1d7:hover,
.username_d30d99:hover,
.username_d272d6:hover,
.mention:hover,
.username__81ee6:hover,
.titleWrapper__482dc:hover,
.listName_dbd44a:hover span,
.userTag__4ca14:hover span,
.constrainedRow_b9e8cf:hover {
	opacity: calc(1 - var(--shortenDisplays));
	max-width: calc(var(--shortenDisplays) * 1000px);
	transition: calc(var(--shortenDisplays) * 0.75s) ease-in-out;
	transition-delay: calc(var(--shortenDisplays) * 1s);
}

/*When long-pressing on display names and pings they reveal completely.*/
.name__02dbd:active,
.nickname__3d1d7:active,
.username_d30d99:active,
.username_d272d6:active,
.mention:active,
.username__81ee6:active,
.titleWrapper__482dc:active,
.listName_dbd44a:active span,
.userTag__4ca14:active span,
.constrainedRow_b9e8cf:active {
	opacity: 1;
	max-width: calc(var(--shortenDisplays) * 1000px);
	transition: calc(var(--shortenDisplays) * 1s) ease-in-out;
	transition-delay: calc(1.5s * var(--shortenDisplays));
}

/*Removes all tooltips.*/
.tooltip__01384 {
	opacity: calc(1 - var(--shortenDisplays)) !important;
}

/* Fixes "Friends" button being cutoff along with the DM names */
[href="/channels/@me"] .name__02dbd {
	max-width: unset;
	overflow: visible;
}

[href="/channels/@me"]:hover .name__02dbd {
	opacity: unset;
	transition: unset;
	transition-delay: unset;
}

:root {
	--shortenDisplays: 1;
}