@import url('https://fonts.googleapis.com/css?family=Poppins');
/*Forces a font size, font family, and max-width onto display names and pings*/
.name__02dbd,
.nickname__3d1d7,
.username_d30d99,
.username_d272d6,
.mention,
.username__81ee6,
.titleWrapper__482dc,
.listName_dbd44a span {
	font-family: 'Poppins';
	font-size: 16px;
	max-width: 40px;
	text-wrap: nowrap;
	overflow: hidden;
	display: inline-flex;
	transition: 0.5s ease-in-out;
}

/*When hovering over display names and pings they will reveal-fade*/
.name__02dbd:hover,
.nickname__3d1d7:hover,
.username_d30d99:hover,
.username_d272d6:hover,
.mention:hover,
.username__81ee6:hover,
.titleWrapper__482dc:hover,
.listName_dbd44a:hover span {
	opacity: 0%;
	max-width: 1000px;
	transition: 0.75s ease-in-out;
	transition-delay: 1s;
}

/*When long-pressing on display names and pings they reveal completely.*/
.name__02dbd:active,
.nickname__3d1d7:active,
.username_d30d99:active,
.username_d272d6:active,
.mention:active,
.username__81ee6:active,
.titleWrapper__482dc:active,
.listName_dbd44a:active span {
	opacity: 100%;
	max-width: 1000px;
	transition: 1s ease-in-out;
	transition-delay: 1.5s;
}

/*Removes all tooltips.*/
.tooltip__01384 {
	opacity: 0% !important;
}

/* Fixes "Friends" button being cutoff along with the DM names */
[href="/channels/@me"] .name__02dbd {
	max-width: unset;
	overflow: visible;
}

[href="/channels/@me"]:hover .name__02dbd {
	opacity: unset;
	transition: unset;
	transition-delay: unset;
}