/* Replaces your user settings with "ಠ_ಠ" instead */
#my-account-tab div div> :nth-child(2)> :nth-child(1)> :nth-child(3)::before {
  content: "ಠ_ಠ - Disable Crypticord to view.";
  color: var(--red-400);
}

#my-account-tab div div> :nth-child(2)> :nth-child(1)> :nth-child(3) div {
  display: none;
}

/* Removes the phone number preview at the SMS MFA Section */
#my-account-tab>div> :nth-child(2) div:has(div:not([style])) div:has([style="flex: 1 1 auto;"]):first-of-type div> :last-child> :nth-last-child(2) {
  display: none;
}

#my-account-tab>div> :nth-child(2) div:has(div:not([style])) div:has([style="flex: 1 1 auto;"]):first-of-type div> :last-child> :nth-last-child(3) {
  margin-bottom: 8px;
}