li:has(> a[href="https://www.roblox.com/premium/membership?ctx=leftnav"]) /* The 'Buy Premium' in the hamburger menu */,
li:has(> a[href="https://www.roblox.com/trades"]) /* The 'Trade' button in the hamburger menu */,
li:has(> a[href="https://blog.roblox.com"]) /* The 'Blog' button in the hamburger menu */,
li:has(> #nav-shop) /* The 'Official Shop' button in the hamburger menu */,
li:has(> a[href="https://www.roblox.com/giftcards-us"]) /* The 'Giftcards' button in the hamburger menu */,
li:has(> #nav-profile) /* The 'Profile' button (just click on your profile picture instead somewhere above it) */,
div[data-testid="home-page-game-grid"] /* 'Recommended For You' sections */,
#footer-container.footer-container /* The footer at the bottom of the website */,
.nav.navbar-right > .age-bracket-label /* Your profile and/or your age bracket indicator in the right of the navbar */
{ display: none !important}