/* Puts everything side-by-side instead of on a grid */
li[data-testid="wide-game-tile"] {
  display: flex !important;
}

/* Makes it actually a scroller */
div[data-testid="game-grid"] {
  overflow: scroll;
  scrollbar-width: none;
  display: flex !important;
}

/* Visual fixes */
.focused {
  margin: 0px !important;
}

li[data-testid="wide-game-tile"], li[data-testid="wide-game-tile"] * {
  margin: 0px !important;
  padding: 0px !important;
  transform: unset;
}

.focused, .focused * {
  background-color: transparent !important;
}
