div.icon_c48348.guildIcon__2e5ab.iconSizeSmol__7ee47.iconInactive__90d40 {
  display: none;
}
div.closedFolderIconWrapper__7321f {
  background: url("https://media.discordapp.net/attachments/1183930979912536155/1214080539485806632/folder.png?ex=65f7cf9d&is=65e55a9d&hm=35f5335b905733f7eb9d2928163cbb7c53634d10c0f3c6a658fffbf92c27153e&=&format=webp&quality=lossless&width=395&height=395");
  background-size: contain;
  width: 24px;
  height: 24px;
}
div.folderIconWrapper__72239 {
  display: flex;
  justify-content: center;
  align-items: center;
}