/* Removes server icons */
foreignObject [role="treeitem"] div[aria-hidden="true"] [style=""] {
  display: none;
}

/* Implements the new icon */
[class][draggable="true"] div {
  background: url("https://media.discordapp.net/attachments/1183930979912536155/1214080539485806632/folder.png?ex=662be2dd&is=662a915d&hm=250a171e8c1395df5990a7932a8ac8aa0da3a675ad7a0f93c693803bb41c08d2&=&format=webp&quality=lossless&width=493&height=493");
  background-size: calc(var(--custom-folder-item-guild-icon-size) / 2);
  background-repeat: no-repeat;
  background-position: center;
  width: var(--custom-folder-item-guild-icon-size);
  height: var(--custom-folder-item-guild-icon-size);
}

[class][draggable="true"] {
  display: flex;
  align-content: center;
  justify-content: center;
}