/**
 * @name Declutter
 * @description Discord with extra room to spare.
 * @author JustAundre
 * @version 1.0.0
 * @authorId 532681285961777154
*/
/* Comment or delete the following import rules if you want to disable them */
/* Cleaner-looking folders, disable if you have cleaner folders enabled from Vencord */
@import url("https://JustAundre.github.io/UtilityThemes/Discord/Declutter Sub-CSS/Clean-Folders.css");

/* Hides the Nitro button on the home page */
[href="/shop"] {
  display: none !important;
}

/* Hides the store button on the home page */
[href="/store"] {
  display: none !important;
}

/* Hides the Gift button in the message bar */
[aria-label="Send a gift"] {
  display: none !important;
}

/* Hides the GIF button in the message bar */
[aria-label="Open GIF picker"] {
  display: none !important;
}

/* Hides the Sticker button in the message bar */
[aria-label="Open sticker picker"] {
  display: none !important;
}

/* Fixes the Emoji button having no spacing from the end of the typing bar */
[aria-label="Select emoji"] {
  padding-right: 16px;
}

/* Hides the help button in the top footer */
[aria-label="Help"] {
  display: none !important;
}

/* Hides the Start Video call button */
[aria-label="Start Video Call"] {
  display: none !important;
}

/* Hides Create new group DM button */
[aria-label="New Group DM"], [aria-label="Add Friends to DM"] {
  display: none !important;
}

/* Removes "Server boosts" bar at the top of channels tab. */
/* Recode needed */

/* Removes activity/status text, and side-icons like owner crown, server booster, and whatever else there is. */
div[role="listitem"][tabindex="0"] div :nth-child(2) :nth-child(2),
div[index][data-list-item-id] div :nth-child(2) :nth-child(2),
li div a div > :nth-child(2) > :nth-child(2),
div[style="height: 62px; opacity: 1;"] > :first-child > :first-child > :last-child > :last-child {
  display: none;
}

/* Removes the download button for the Discord App */
ul[data-list-id="guildsnav"] > :nth-child(2) > :nth-last-child(2) div[aria-label="Download Apps"],
ul[data-list-id="guildsnav"] > :nth-child(2) > :nth-last-child(3) div:empty {
  display: none;
}

/* Removes scrollbars from everything */
* {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE/Edge */
}
*::-webkit-scrollbar { /* WebKit browsers */
  display: none !important;
}

/* No header title for the "Friends" tab (https://discord.com/channels/@me) */
section[role="navigation"] > div > div > div > h1 {
  display: none;
}
section[role="navigation"] > div > div > div:has(svg) {
  margin-right: 0px;
}

/* Removes loading screen */
div[data-fade="false"][style="--connecting-container-fade-duration: 200ms; --connecting-content-fade-duration: 150ms;"] {
  display: none;
}

/* Removes notifications settings button from top footer */
div[aria-label="Notification Settings"][role="button"] {
  display: none;
}

/* Removes hang statuses (the lil' icons in multi-user VCs in Discord Servers) */
li > :nth-child(2) div div div > :nth-child(3) {
  display: none;
}

/* Removes the "Activities" section from the top of the Server Members list */
div[role="list"][aria-label="Members"] > div:not([aria-selected]),
h3:has(:nth-child(2) [role="button"]) {
  display: none;
}

/* Remove the "Apps" button aside the chat text input */
main form div > :has(button[aria-label="Apps"]) {
  display: none;
}

/* Removes the 2 random div elements that are blank but still take up space in the channels list in some servers */
ul#channels div[style="height: 16px;"],
ul#channels div[style="height: 12px;"] {
  display: none;
}