/* Makes the channels list on servers more compact. */
.link__95dc0, .wrapper__7bcde {
  padding: 0 0 !important;
}

/* Removes loading screen. */
.container__4bde3.fixClipping__9c8f4 {
  display: none;
}

/* Makes DMs list more compact. */
.link__2e8e1 {
  max-height: 32px;
}

/* Makes members list compact. */
.member_aa4760 {
  max-height: 32px;
}

.container__4f20e, .memberInner_a32223 {
  margin-left: 8px;
  padding: 0 0 !important;
  max-height: 32px;
}

/* Makes header text sent by users have less spacing. */
h1, .markup_a7e664 h1:first-child {
  margin: 0;
}

/* Makes the spacing between channel categories smaller. */
:root {
  --custom-category-channel-space-before-category: 8px;
}

/* Makes the channels (not categories) indented to be differentiated from the categories. */
.containerDefault__3187b {
  margin-left: 16px;
}
.containerDefault__3187b .spine__88e6d {
  translate: 0 -10px;
}

/* Removes extra padding for messages. */
.compact__54ecc.wrapper__09ecc {
  padding-top: 0;
  padding-bottom: 0;
}

/* Y'know that thing that appears that separates messages sent between different dates? Yeah, I just removed 2/3rds of its extra margin. */
.group-spacing-0 .divider__8cf56.hasContent__8519e {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* Fixes emojis screwing up message text. */
.emojiContainer__4a804 {
  display: revert;
}

/* For "Cozy" Discord users [which is most users-], there is now slightly less vertical spacing for text. */
.markup_a7e664 {
  line-height: 1.05rem;
}

/* Removes extra bottom and top padding for images. */
.container_dbadf5 {
  padding: 0;
}

/* Divides the original margin for different messages by 5. */
.group-spacing-16 .groupStart__56db5 {
  margin-top: .2rem;
}