@import url('https://fonts.googleapis.com/css?family=Poppins');

/*Lowers attachment/embed opacity, unless hovered.*/
.embedWrapper_c143d9 {
	opacity: 0.1;
	filter: blur(5px);
	transition: all 0.25s ease-in-out;
}

.embedWrapper_c143d9:hover {
	filter: blur(0px);
	opacity: 1;
	transition: all 0.5s ease-in-out;
}

:root {
	--hidepfp: unset;
}
