@import url('https://fonts.googleapis.com/css?family=Poppins');

/*Forces a font size, font family, and max-width onto display names, pings, and channel mentions.*/
.name__02dbd, .nickname__3d1d7, .username_d30d99, .username_d272d6, .mention, .userTagUsernameBase__75fb1, .text-lg-semibold__18f10, .username__81ee6, .titleWrapper__482dc, .text-md-semibold__4cb23, .listName_dbd44a span, .userTag__4ca14 span, .constrainedRow_b9e8cf, .channelMention {
	font-family: 'Poppins';
	font-size: calc(var(--shortenDisplays) * 16px);
	max-width: calc(var(--shortenDisplays) * 40px);
	text-wrap: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	display: inline-flex;
	transition: calc(0.5s * var(--shortenDisplays)) ease-in-out;
}

/*When hovering over display names, pings, and channel mentions, they will reveal-fade*/
.name__02dbd:hover, .nickname__3d1d7:hover, .username_d30d99:hover, .username_d272d6:hover, .mention:hover, .text-lg-semibold__18f10:hover, .username__81ee6:hover, .titleWrapper__482dc:hover, .text-md-semibold__4cb23:hover, .listName_dbd44a:hover span, .userTag__4ca14:hover span, .constrainedRow_b9e8cf:hover, .channelMention:hover {
	opacity: calc(1 - var(--shortenDisplays));
	max-width: calc(var(--shortenDisplays) * 1000px);
	transition: calc(var(--shortenDisplays) * 0.75s) ease-in-out;
	transition-delay: calc(var(--shortenDisplays) * 1s);
}

/*When clicking on display names, pings, and channel mentions, they reveal completely.*/
.name__02dbd:active, .nickname__3d1d7:active, .username_d30d99:active, .username_d272d6:active, .mention:active, .text-lg-semibold__18f10:active, .username__81ee6:active, .titleWrapper__482dc:active, .text-md-semibold__4cb23:active, .listName_dbd44a:active span, .userTag__4ca14:active span, .constrainedRow_b9e8cf:active, .channelMention:active {
	opacity: 1;
	max-width: calc(var(--shortenDisplays) * 1000px);
	transition: calc(var(--shortenDisplays) * 1s) ease-in-out;
	transition-delay: calc(1.5s * var(--shortenDisplays));
}

/*Removes all tooltips.*/
.tooltip__01384 {
	opacity: calc(1 - var(--shortenDisplays)) !important;
}

:root {
	--shortenDisplays: 1;
}