/*Hides and blurs profile pictures.*/
.wrapper_edb6e0 foreignObject,
.avatar__08316.clickable_d866f1,
.replyAvatar_cea07c,
.listItemWrapper__1f93b img {
	opacity: (var(--hidePfp) * 0.2);
	filter: blur(calc(var(--hidePfp) * 8px));
}

/*Self-explanatory, hides profile picture overflow.*/
.wrapper_edb6e0 foreignObject {
	overflow: hidden;
}

:root {
	--hidePfp: 1;
}