/**
 * @name PrivacyCord
 * @description PrivacyCord, compatability mode.
 * @author JustAundre
 * @version Compatability Mode
 * @authorId 532681285961777154
*/

















@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  /* StreamerMode+ Configs */
  /*Set value to "1" to enable, set value to "inherit" to disable.*/
    --hideUsernames: 1;
    --shortenDisplays: 1;
    --hideAttachments: 1;
    --hideRpc: 1;
    --hidePfp: 1;


  /* OutClutter configs */
  /* Set to inherit to disable, set to none to enable. */
    --disableNitroBuy: none;
    --disableStore: none;
    --disableSendGift: none;
    --disableGifPicker: none;
    --disableStickerPicker: none;
    --disableHelp: none;
    --disableVideoCall: none;
    --disableServerNotifButton: none;
    --disableNewGroupDm: none;
    --disableSearch: none;
    --noTweet: none;
    --noBoost: none;
}



/* Hide attachments module */
/* Lowers attachment/embed opacity, unless hovered. */
.embedWrapper_c143d9 {
	opacity: calc(0.1 * var(--hideAttachments));
	filter: blur(calc(var(--hideAttachments) * 5px));
	transition: all 0.25s ease-in-out;
}

.embedWrapper_c143d9:hover {
	filter: blur(0px);
	opacity: 1;
	transition: all 0.5s ease-in-out;
}



/* Hide RPC module */
/*Blurs the Discord RPC Image.*/
.activityName__47e51,
.spotifySection__1d573,
.activitySection_b322be .assetsLargeImageUserPopout__6fc87,
.assetsLargeImageUserPopoutV2__01dc1,
.assetsLargeImageStreamPreview_db91fd,
.assetsLargeImageStreamPreviewXbox_c549ba,
.assetsLargeImageUserPopoutXbox__908da,
.assetsLargeImageUserPopoutV2Xbox__32def .gameIcon__90c32,
.medium__2316b, .gameIcon__71e13,
.activitySectionAssets_ea2444 img,
.headerFull_c60f77 img,
.activityUserPopoutV2__32328 img,
.headerIcon__5761b,
.xboxSectionIcon__34457 {
	opacity: calc(0.95 * var(--hideRpc));
	filter: blur(calc(var(--hideRpc) * 10px));
}

/*Hides the Discord RPC Text.*/
.textRow__4750e,
.activityText__47ec1,
.activitySection_b322be .textContent__45dd0,
.textContent__45dd0 span,
.xboxSection__66be0 div,
.activity__24558,
.voiceSectionDetails_b9919a,
/*This is an image-*/ .voiceSectionIconWrapper_c50254,
/*Also an image*/.speakerIconContainer__94fb2,
.voiceChannelInfo__41ce2 {
	opacity: calc(1 - var(--hideRpc));
}



/*Hide profiles module*/
/*Hides and blurs profile pictures.*/
.wrapper_edb6e0 foreignObject,
.avatar__08316.clickable_d866f1,
.replyAvatar_cea07c,
.listItemWrapper__1f93b img {
	opacity: (var(--hidePfp) * 0.2);
	filter: blur(calc(var(--hidePfp) * 8px));
}

/*Self-explanatory, hides profile picture overflow.*/
.wrapper_edb6e0 foreignObject {
	overflow: hidden;
}



/* Hide usernames module */
/*Hides and blurs usernames.*/
.userTagUsernameBase__75fb1,
.title__10613,
.discriminator_a801dd,
.discriminator_aef524,
.usernameInnerRow__7f209 span {
	opacity: calc(0.2 * var(--hideUsernames));
	filter: blur(calc(var(--hideUsernames) * 8px));
	transition-delay: calc(var(--hideUsernames) * 5s) !important;
}

/*When hovering over the actual username it reveals. (Takes longer to reveal.)*/
.userTagUsernameBase__75fb1:hover,
.discriminator_a801dd:hover,
.discriminator_aef524:hover,
.usernameInnerRow__7f209 span {
	opacity: 1;
	filter: blur(0px);
	max-width: calc(var(--hideUsernames) * 1000px);
	transition: calc(var(--hideUsernames) * 0.5s) ease-in-out;
	transition-delay: calc(var(--hideUsernames) * 5s) !important;
}

/*Slows down the reveal of your actual username when hovering over your user card in the bottom left.*/
.hoverRoll__041cb.forceHover__71322:not(.disabled__89e5c) .hovered__243e5,
.hoverRoll__041cb:hover:not(.disabled__89e5c) .hovered__243e5 {
	transition: calc(var(--hideUsernames) * 0.5s) ease-in-out;
	transition-delay: calc(var(--hideUsernames) * 5s);
}

/*Removes all tooltips.*/
.tooltip__01384 {
	opacity: calc(1 - var(--hideUsernames)) !important;
}




/* Short displays module */
/*Forces a font size, font family, and max-width onto display names, pings, and channel mentions.*/
.name__02dbd,
.nickname__3d1d7,
.username_d30d99,
.username_d272d6,
.mention,
.text-lg-semibold__18f10,
.username__81ee6,
.titleWrapper__482dc,
.text-md-semibold__4cb23,
.listName_dbd44a span,
.userTag__4ca14 span,
.constrainedRow_b9e8cf,
.channelMention {
	font-family: 'Poppins' !important;
	font-size: calc(var(--shortenDisplays) * 16px) !important;
	max-width: calc(var(--shortenDisplays) * 40px);
	max-height: calc(var(--shortenDisplays) * 18px);
	text-wrap: nowrap;
	overflow: hidden !important;
	display: inline-flex !important;
	transition: calc(0.5s * var(--shortenDisplays)) ease-in-out !important;
}

/*When hovering over display names, pings, and channel mentions, they will reveal-fade*/
.name__02dbd:hover,
.nickname__3d1d7:hover,
.username_d30d99:hover,
.username_d272d6:hover,
.mention:hover,
.text-lg-semibold__18f10:hover,
.username__81ee6:hover,
.titleWrapper__482dc:hover,
.text-md-semibold__4cb23:hover,
.listName_dbd44a:hover span,
.userTag__4ca14:hover span,
.constrainedRow_b9e8cf:hover,
.channelMention:hover {
	opacity: calc(1 - var(--shortenDisplays));
	max-width: calc(var(--shortenDisplays) * 1000px);
	transition: calc(var(--shortenDisplays) * 0.75s) ease-in-out;
	transition-delay: calc(var(--shortenDisplays) * 1s);
}

/*When clicking on display names, pings, and channel mentions, they reveal completely.*/
.name__02dbd:active,
.nickname__3d1d7:active,
.username_d30d99:active,
.username_d272d6:active,
.mention:active,
.text-lg-semibold__18f10:active,
.username__81ee6:active,
.titleWrapper__482dc:active,
.text-md-semibold__4cb23:active,
.listName_dbd44a:active span,
.userTag__4ca14:active span,
.constrainedRow_b9e8cf:active,
.channelMention:active {
	opacity: 1;
	max-width: calc(var(--shortenDisplays) * 1000px);
	transition: calc(var(--shortenDisplays) * 1s) ease-in-out;
	transition-delay: calc(1.5s * var(--shortenDisplays));
}

/*Removes all tooltips.*/
.tooltip__01384 {
	opacity: calc(1 - var(--shortenDisplays)) !important;
}

/* Fixes "Friends" button being cutoff along with the DM names */
[href="/channels/@me"] .name__02dbd {
	max-width: unset;
	overflow: visible;
}

[href="/channels/@me"]:hover .name__02dbd {
	opacity: unset;
	transition: unset;
	transition-delay: unset;
}



/* OutClutter Module */
/* Hides the Nitro button on the home page */
[href="/shop"] {
  display: var(--disableNitroBuy) !important;
}

/* Hides the store button on the home page */
[href="/store"] {
  display: var(--disableStore) !important;
}

/* Hides the Gift button in the message bar */
[aria-label="Send a gift"] {
  display: var(--disableSendGift) !important;
}

/* Hides the GIF button in the message bar */
[aria-label="Open GIF picker"] {
  display: var(--disableGifPicker) !important;
}

/* Hides the Sticker button in the message bar */
[aria-label="Open sticker picker"] {
  display: var(--disableStickerPicker) !important;
}

/* Hides the help button in the top footer */
[aria-label="Help"] {
  display: var(--disableHelp) !important;
}

/* Hides the Start Video call button */
[aria-label="Start Video Call"] {
  display: var(--disableVideoCall) !important;
}

/* Hides the Notification settings button in message channels on servers */
[aria-label="Notification Settings"] {
  display: var(--disableServerNotifButton) !important;
}

/* Hides Create new group DM button */
[aria-label="New Group DM"], [aria-label="Add Friends to DM"] {
  display: var(--disableNewGroupDm) !important;
}

/* Hide the search bar in the home page */
.searchBar_e4ea2a {
  display: var(--disableSearch) !important;
}

/* Makes the "Friends" button take the place of the search bar. */
[href="/channels/@me"] {
	height: 35px !important;
}

/* Who actually tweets @Discord Support when there's a connection problem? */
[href="https://twitter.com/discord_support"] {
  display: var(--noTweet);
}

/* Removes "Server boosts" bar at the top of channels tab. */
.container__4f639 {
  display: var(--noBoost);
}

[style="height: 12px;"] {
  display: var(--noBoost);
}