/**
 * @name PrivacyCord
 * @description If you're on the web, right click the tab and click 'Pin' for greater effect.
 * @author JustAundre
 * @version 1.0.0
 * @authorId 532681285961777154
*/

/* Remove (or comment) the corresponding lebeled module you want to disable. */
@import url('https://itsaundre.github.io/UtilityThemes/Source%20Code/PrivacyCord-Modules/Blur-Attachments.css'); /* Blur attachments and embeds Module */
@import url('https://itsaundre.github.io/UtilityThemes/Source%20Code/PrivacyCord-Modules/Hide-Profiles.css'); /* Hide Profiles Module */
@import url('https://itsaundre.github.io/UtilityThemes/Source%20Code/PrivacyCord-Modules/Hide-RPC.css'); /* Hide Discord RPC Module */
@import url('https://itsaundre.github.io/UtilityThemes/Source%20Code/PrivacyCord-Modules/Hide-Usernames.css'); /* Hide Usernames Module */
@import url('https://itsaundre.github.io/UtilityThemes/Source%20Code/PrivacyCord-Modules/Shorten-Displays.css'); /* Shorten Displays Module */
@import url('https://itsaundre.github.io/UtilityThemes/Source%20Code/PrivacyCord-Modules/Private-Settings.css'); /* Private Settings Module */