/**
 * @name PrivacyCord
 * @description If you're on the web, right click the tab and click 'Pin' for greater effect.
 * @author JustAundre
 * @version 1.0.0
 * @authorId 532681285961777154
*/
@import url('https://itsaundre.github.io/UtilityThemes/Source%20Code/PrivacyCord-Modules/Blur-Attachments.css');
@import url('https://itsaundre.github.io/UtilityThemes/Source%20Code/PrivacyCord-Modules/Hide-Profiles.css');
@import url('https://itsaundre.github.io/UtilityThemes/Source%20Code/PrivacyCord-Modules/Hide-RPC.css');
@import url('https://itsaundre.github.io/UtilityThemes/Source%20Code/PrivacyCord-Modules/Hide-Usernames.css');
@import url('https://itsaundre.github.io/UtilityThemes/Source%20Code/PrivacyCord-Modules/Shorten-Displays.css');
@import url('https://itsaundre.github.io/UtilityThemes/Source%20Code/PrivacyCord-Modules/Private-Settings.css');
:root {
  /* PrivacyCord Configs */
  /*Set value to '1' to enable, set value to '?' to disable.*/
  --hideUsernames: 1;
  --shortenDisplays: 1;
  --hideAttachments: 1;
  --hideRpc: 1;
  --hidePfp: 1;
}