/**
 * @name Compactify
 * @description Discord, all huddled up. Cozy, isn't it?
 * @author JustAundre
 * @version 1.0.0
 * @authorId 532681285961777154
*/

/* Makes the channels list in servers more compact*/
ul[aria-label='Channels'] li div:not([role='group']),
ul[aria-label='Channels'] li ul li,
ul[aria-label='Channels'] li a[aria-label][data-list-item-id] {
  max-height: 24px !important;
  min-height: 0px !important;
}

div[class='']:has(div[aria-label='Voice icon'])
{ max-height: unset; }

ul[aria-label='Channels'] li div[role='group'] div[data-dnd-name]
{ max-height: 16px; }

ul[aria-label='Channels'] li ul[role='group'][aria-label] div:empty,
ul[aria-label='Channels'] li ul[role='group'][aria-label] svg[width='12'][height='11']
{ transform: translate(0px, -4px); }

ul[aria-label='Channels'] li ul[role='group'][aria-label] svg[width='12'][height='11'][style='transform: rotateX(180deg) translateY(-9px);']
{ transform: rotateX(180deg) translateY(-5px) !important; }

/* Makes DMs list compact */
ul[aria-label='Direct Messages'] li a[class][aria-label][data-list-item-id][href] {
  max-height: 34px !important;
  min-height: 0px !important;
}

/* Removes excess left-ward padding for voice channel users */
li> :nth-child(2):not(svg) { max-height: unset !important; }

/* Lessens top spacing for user DMs */
ul[aria-label='Direct Messages'][role='list'] h2,
ul[aria-label='Direct Messages'][role='list'] li> :has(div[aria-label='Leave Group']),
ul[aria-label='Direct Messages'][role='list'] li> :has(div[aria-label='Close DM']) { transform: translate(0, -8px); }

/* Makes members list compact */
div[dir='ltr'][style='overflow: hidden scroll; padding-right: 0px;'] div[role='listitem'][tabindex='0']>div,
div[role='list'][aria-label='Members'][style] div[role='listitem']>div {
  max-height: 34px !important;
  min-height: 0px !important;
}

div[role='list'][aria-label='Members']>div[index],
div[role='list'][aria-label='Members']>div[index]>div {
  padding-left: 4px;
  padding-right: 4px;
}

div[role='list'][aria-label='Members'][style] div[role='listitem'] h3 { padding: 16px 8px 0px 16px; }

div[role='list'][aria-label='Members']>div:not([aria-selected]),
h3:has(:nth-child(2) [role='button']):not([aria-labelledby]) { display: none; }

/* Removes avatar decorations */
div[class][role='img'][aria-label][aria-hidden]> :nth-child(2) { display: none; }

/* Slightly less vertical spacing for text */
[aria-roledescription='Message'] div div[id] { line-height: 1.15rem; }
#---new-messages-bar { top: none; }

/* Truncates oversized reply previews */
[aria-roledescription='Message'] div img[alt=''][src]~div[tabindex='0'] {
  max-width: 128px;
  overflow: hidden;
}

/* Truncates oversized channel description previews */
section[aria-label='Channel header']>div>div>div:has([aria-label='Open Channel Topic'][role='button']) {
  display: block;
  max-width: 128px;
}

/* Reduces the margin for date separaters */
div[role='separator'] {
  margin-top: .75rem !important;
  margin-bottom: .375rem !important;
}

/* Lessens the margin bewteen messages of unique users */
div[aria-roledescription='Message']:has(div h3) { margin-top: .2rem !important; }

/* Removes the minimum height between messages */
div[aria-roledescription='Message'] { min-height: unset !important; }

/* Makes header text sent by users have less spacing */
h1,
h2,
h3
{ margin: 0 !important; }

h1:has(span span),
h2:has(span span),
h3:has(span span) {
  line-height: 1em !important;
  display: block;
}

/* Resizes the chat history search bar for DMs, GCs, and servers. */
section[aria-label='Channel header'] div> :nth-child(2)>*:not([role='button'][tabindex]),
section[aria-label='Channel header'] div> :nth-child(2)>*:not([role='button'][tabindex]) * {
  width: 24px;
  padding: 0;
}

/* Makes the message bar smaller */
main[aria-label] form::before { display: none; }
main[aria-label] form>div>div { margin-bottom: 6px; }
main[aria-label] form>div:last-of-type { position: unset; }

:root {
  --custom-emoji-size-emoji: 1rem;
  /* Self-explanatory */
  --custom-message-spacing-vertical-container-cozy: unset;
  /* Makes the extra spacing between messages non-existant */
  --custom-category-channel-space-before-category: 8px;
  /* Makes the spacing between categories smaller */
}