/**
 * @name Bandaid Patches
 * @description Changes that make things look "correct-er" or add QOL fixes
 * @author JustAundre
 * @version 1.0.0
 * @authorId 532681285961777154
*/

/* Appropriately changes the text color of the block and remove friends button to the red/danger color of most other buttons that require caution */
#user-context-remove-friend>div,
#user-context-block>div { color: var(--status-danger); }

#user-context-remove-friend:hover,
#user-context-block:hover { background-color: var(--menu-item-danger-hover-bg); }

#user-context-remove-friend:hover>div,
#user-context-block:hover>div { color: var(--white); }

/* Removes the "Show User Profile" button in DMs when your screen is not wide enough to support it. */
div[role="button"][aria-label="Show User Profile (Unavailable)"] { display: none; }